<h1>Burgers!</h1>

<h2>Tasty burgers that have already been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Fresh burgers yet to be devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Have you devoured this burger before?</label><br>
    <input type="radio" name="devoured" value="1" checked> Already devoured!<br>
    <input type="radio" name="devoured" value="0"> Yet to be devoured!
  </div>

  <button type="submit">Add Burger</button>
</form>